body {
    font-family: Arial, sans-serif;
    background-color: #31AA84;
    color: white;
    margin: 0;
}

.principal {
    display: grid;
    padding-top: 5%;
    padding-right: 10%;
    padding-left: 10%;
    align-content: center;
    align-items: center;
    justify-content: center;
}


textarea {
    background-color: rgba(255, 255, 255, 0.81);
    border-radius: 20px;
    border: none;
    padding: 25px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 800px;
}

.btn {
    background-color: black;
    color: white;
    width: 150px;
    height: 50px;
    font-size: larger;
    border-radius: 20px;
}

nav {
    border: solid 2px;
    padding: none;
    background-color: rgba(255, 255, 255, 0.81);
    display: flex;
    justify-content: space-around;
    align-content: center;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 110px;
    margin-right: 110px;
}

li:hover { 
    color: lightgreen;  
    cursor: pointer; 
}

a {
    text-decoration: none;
    color: black;
    
}