body {
    font-family: Arial, sans-serif;
    background-color: #31AA84;
    color: white;
    margin: 0;
}

.principal {
    display: grid;
    padding: 5%;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.resultado {
    display: flex;
    align-items: center;
}

img {
    border-radius: 100%;
    width: 200px;
    height: 200px;
    margin-right: 40px;
}

h2 {
    color: red;
}

h4 {
    font-size: 24px;
}

nav {
    border: solid 2px;
    padding: none;
    background-color: rgba(255, 255, 255, 0.81);
    display: flex;
    justify-content: space-around;
    align-content: center;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 110px;
    margin-right: 110px;
}

li:hover { 
    color: lightgreen;  
    cursor: pointer; 
}

a {
    text-decoration: none;
    color: black;
    
}
